body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}
a {
  text-decoration: none;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.left-column {
  width: 75%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.stream {
  max-width: 70.5vw;
  max-height: 95vh;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 2.6vh;
  margin-bottom: 2.6vh;
  margin-left: 2.6vh;
  /* margin-right: 2.6vh; */
}

.compare {
  max-width: 23vw;
  max-height: 95vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  /* margin-left: 1.25vh; */
  margin-right: 1.25vh;
  border-radius: 8px;
}

.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.button1:hover {
  background-color: #27ae60;
}

.button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button2:hover {
  background: #ae4d27;
}

.result{
  max-width: 10vw;
  max-height: 10vh;
}