.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  width: 70%;
  height: 1080px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  background-color: #9c9b9b;
}
.home-image {
  width: 90%;
  height: 1223px;
  align-self: center;
  object-fit: fill;
}
.home-container2 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #9c9b9b;
}

.home-text {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 90%;
  height: var(--dl-size-size-small);
  z-index: 100;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: auto;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: auto;
  background-color: rgb(217, 217, 217);
}
.home-text01 {
  font-style: normal;
  font-weight: 600;
}
.home-text02 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.home-text03 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 90%;
  height: var(--dl-size-size-small);
  position: absolute;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-weight: 800;
  margin-left: auto;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: auto;
  background-color: #D9D9D9;
}
.home-text06 {
  font-style: normal;
  font-weight: 400;
}
.home-text08 {
  font-style: normal;
  font-weight: 400;
}
.home-image1 {
  width: 90%;
  align-self: center;
  margin-top: 150px;
  object-fit: cover;
}
.home-text11 {
  width: 80%;
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(154, 251, 165, 0.62);
}
.home-button {
  color: var(--dl-color-gray-black);
  width: 90%;
  height: auto;
  padding: var(--dl-space-space-twounits);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
  background-color: var(--dl-color-success-700);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  width: 90%;
  font-size: 28px;
  align-self: center;
  font-style: normal;
  margin-top: 25%;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-style: solid;
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  margin-bottom: 2%;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-danger-500);
}
.home-button1:hover {
  bottom: var(--dl-space-space-halfunit);
  margin: var(--dl-space-space-twounits);
  padding: var(--dl-space-space-oneandhalfunits);
}
.home-button1:active {
  bottom: 0px;
  margin: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-danger-300);
}
@media(max-width: 1200px) {
  .home-button1 {
    margin-top: 800px;
  }
}
