body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.column {
  box-sizing: border-box;
  padding: 2vw;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.stream {
  max-width: 70.5vw;
  max-height: 95vh;
  border-radius: 8px;
  margin: 2.6vh 2.6vh 2.6vh 0;
  display: block;
}

.compare {
  max-width: 23vw;
  max-height: 95vh;
  border-radius: 8px;
  margin: 2.5vh 1.25vh 2.5vh 0;
  display: block;
}

.button1,
.button2 {
  display: block;
  max-width: 22vw;
  height: 10vh;
  background-color: #4e9caf;
  padding: 1.5vh 1vw;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 7.5vh;
  margin-bottom: 2.5vh;
  margin-right: 2.5vw;
  transition: background-color 0.3s ease-in-out;
}

.button1:hover,
.button2:hover {
  background-color: #3c8dad;
}

.result {
  max-width: 10vw;
  max-height: 10vh;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}